<div class="col-md-12">
    <button md-button [routerLink]="['/manage']"><i class="fa fa-caret-square-o-left"></i> Back</button>
    <hr>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="userId" class="col-sm-1">ID</label>
            <div class="col-sm-11">
                <span type="text" id="userId">{{user?.id}}</span>
            </div>
        </div>
        <div class="form-group">
            <md-input-container class="col-sm-12">
                <input mdInput placeholder="Name" class="form-control" id="userName" value="{{user?.name}}">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="col-sm-12">
                <input mdInput placeholder="Email" class="form-control" id="userEmail" value="{{user?.email}}">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="col-sm-12">
                <input mdInput placeholder="Phone" class="form-control" id="userPhone" value="{{user?.phone}}">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="col-sm-12">
                <input mdInput placeholder="Mobile" class="form-control" id="userMobile" value="{{user?.mobile}}">
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container class="col-sm-12">
                <input mdInput placeholder="Facebook" class="form-control" id="userFacebook" value="{{user?.facebook}}">
            </md-input-container>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button md-raised-button color="primary" (click)="saveUser(user); $event.preventDefault();"><i class="fa fa-save"></i> Save</button>
                <button md-raised-button color="warn" (click)="deleteUser(user); $event.preventDefault();"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
        </div>
    </form>
</div>